body {padding:0; margin:0; background-color:#FFFFFF; font-size: 1em; font-family: 'Open Sans',sans-serif;}
svg {display: block; position: absolute;}

/* clock */
.monthLabel {
	font-family: 'Open Sans',sans-serif;
	fill: #000;
	font-weight: 500;
	opacity: 0.3;
}
.day { stroke: black; opacity: 0.6; }
.arm { stroke: black; stroke-width: 2; }
.centerDot { fill: black; }
.eventLine { stroke: black; stroke-width: 2; }
.eventWrapper {
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
}
.eventPopup {
	position: relative;
	z-index: 1;
	width: 100px;
	height: 28px;
	text-align: left;
	border-radius: 6px;
	padding: 2px 4px 2px 4px;
	box-shadow: 2px 2px 5px #888888;
	font-size: 0.8em;
}
.eventPopup:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: 48px; /* 50 - (4/2) */
	margin-top: -34px; /* 28 + 4 + (4/2) */
	border-bottom: 4px solid black;
	border-color: inherit;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.eventPopup button {
	padding: 4px;
	border-radius: 3px;
	border: none;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	background-image: linear-gradient(#FFF, #AAA);
	text-align: center;
}
.eventPopup button:active {
	background-color: #EEE;
	background-image: linear-gradient(#AAA, #FFF);
}

/* 'add event' form */
.menuContainer {
	position: fixed;
	top: 1.25em;
	left: 1.25em;
	font-family: 'Open Sans',sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
	background-color: #CCC;
	border-radius: 6px;
	font-weight: 400;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 2px 2px 5px #888888;
}
.menuButton {
	position: relative;
	padding: 10px;
	cursor: pointer;
	font-weight: 500;
}
.menuButton:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 0.3em;
	vertical-align: middle;
	border-top: 0.5em solid black;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
}
/*
.menuButton:before {
	content: "v";
	position: absolute;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 0.7em;
	left: 5px;
	top: 3px;
}
*/

/*	hamburger menu icon
//	.menuButton:before {
//		content: "";
//		position: absolute;
//		left: 8px;
//		top: 8px;
//		width: 17px;
//		height: 2px;
//		background: white;
//		box-shadow:
//			0 5px 0 0 white,
//			0 10px 0 0 white;
//	}
*/

.insertFormHidden {
	display: none;
}
.insertFormShown {
	display: block;
}
#addEventForm {
	padding: 0px 15px 15px 15px;
	width: 200px;
}
#addEventForm input {
	padding: 4px;
	border-radius: 3px;
	border: none;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
}
#addEventSubmit {
	background-color: white;
	background-image: linear-gradient(#FFF, #AAA);
}
#addEventSubmit:active {
	background-image: linear-gradient(#AAA, #FFF);
}
.ui-widget {
	font-size: 0.71em;
}
.submitIdle {
	cursor: pointer;
	display: block;
	background-color: #DDD;
}
.submitIdle:hover {
	background-color: #AAA;
};
.submitIdle:active {
	background-color: #666;
};
.submitWorking {
	cursor: default;
}